<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>880585672188-g1ur9mq87ar9bb6ielhhbqj2rro8d472.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.880585672188-g1ur9mq87ar9bb6ielhhbqj2rro8d472</string>
	<key>API_KEY</key>
	<string>AIzaSyC2HI9p2hRvOi3j9_w06RuzmsZNUz_69X0</string>
	<key>GCM_SENDER_ID</key>
	<string>880585672188</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatapp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-ca005</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-ca005.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:880585672188:ios:2fd2e71eabd43922805e79</string>
</dict>
</plist>